SELECT ARTICULOS.*, COALESCE(DEVOLUCIONES.UNIDADES_DEVUELTAS, 0) AS UNIDADES_DEVUELTAS
, COALESCE(FORMAT(DEVOLUCIONES.TOTAL_DEVOLUCIONES, 'N2'), '0.00') + ' €' AS TOTAL_IMPORTE_DEVOLUCIONES 
, DEVOLUCIONES.TOTAL_DEVOLUCIONES AS TOTAL_IMPORTE_DEVOLUCIONES
, ROUND(CASE WHEN ARTICULOS.TOTAL_IMPORTE=0 
			THEN 0 
			ELSE (DEVOLUCIONES.UNIDADES_DEVUELTAS * (ARTICULOS.TOTAL_IMPORTE/ARTICULOS.CANTIDAD_TOTAL)) END, 2) AS TOTAL_IMPORTE_DEVOLUCIONES 
FROM (SELECT A.ID AS ID_ARTICULO , A.CODIGO_SAP as CODIGO_SAP, A.DESCRIPCION as ARTICULO
	  , A.UNIDADES_DE_PEDIDO, A.RAPPEL, A.VALOR_RAPPEL, A.PRECIO_COSTE
	  , (SELECT DESCRIPCION FROM PROVEEDORES WHERE ID=A.PROVEEDOR) AS PROVEEDOR
	  , A.REFERENCIA_DEL_PROVEEDOR, SUM(B.CANTIDAD) as CANTIDAD_TOTAL
	  , ROUND(SUM(CASE WHEN D.TOTAL=0 THEN 0 ELSE (B.CANTIDAD * (D.TOTAL/D.CANTIDAD)) END), 2) AS TOTAL_IMPORTE
	  , ROUND(SUM(B.CANTIDAD * D.PRECIO_COSTE), 2) AS TOTAL_PRECIO_COSTE_PEDIDO 
		FROM ARTICULOS A 
		INNER JOIN ENTRADAS_SALIDAS_ARTICULOS B ON A.ID=B.ID_ARTICULO AND B.E_S='SALIDA' AND B.TIPO='PEDIDO' 
		INNER JOIN PEDIDOS C ON C.ID = B.PEDIDO 
		INNER JOIN PEDIDOS_DETALLES D ON C.ID=D.ID_PEDIDO AND A.ID=D.ARTICULO 
		INNER JOIN V_CLIENTES E ON C.CODCLI = E.Id 
		INNER JOIN V_EMPRESAS F ON E.EMPRESA = F.Id 
		WHERE 1=1 
		GROUP BY A.ID, A.CODIGO_SAP, A.DESCRIPCION, A.UNIDADES_DE_PEDIDO, A.RAPPEL, A.VALOR_RAPPEL
		, A.PRECIO_COSTE, A.PROVEEDOR, A.REFERENCIA_DEL_PROVEEDOR) ARTICULOS 
LEFT JOIN (SELECT Z.ID_ARTICULO, SUM(UNIDADES_ACEPTADAS) AS UNIDADES_DEVUELTAS
			, SUM(ROUND((UNIDADES_ACEPTADAS * (T.TOTAL/T.CANTIDAD)),2)) AS TOTAL_DEVOLUCIONES 
			FROM DEVOLUCIONES_DETALLES Z 
			INNER JOIN (SELECT ID_ARTICULO, PEDIDO, E_S, TIPO, MIN(FECHA) AS FECHA 
						FROM ENTRADAS_SALIDAS_ARTICULOS 
						GROUP BY PEDIDO, ID_ARTICULO, E_S, TIPO) Y ON Z.ID_ARTICULO=Y.ID_ARTICULO 
						AND Z.ID_PEDIDO=Y.PEDIDO AND Z.UNIDADES_ACEPTADAS>=1 AND Y.E_S='SALIDA' AND Y.TIPO='PEDIDO' 
						LEFT JOIN PEDIDOS X ON X.ID=Z.ID_PEDIDO 
						LEFT JOIN V_CLIENTES W ON W.ID=X.CODCLI 
						LEFT JOIN V_EMPRESAS V ON V.ID=W.EMPRESA 
						LEFT JOIN PEDIDOS_DETALLES T ON Z.ID_PEDIDO=T.ID_PEDIDO 
						AND Z.ID_ARTICULO=T.ARTICULO 
						WHERE Z.UNIDADES_ACEPTADAS>=1 
						GROUP BY Z.ID_ARTICULO) DEVOLUCIONES ON ARTICULOS.ID_ARTICULO=DEVOLUCIONES.ID_ARTICULO 
ORDER BY ARTICULOS.ARTICULO
