<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
   
    <!--   Conexion INST_CNS a Oracle (acceso a active directory)  
      Usa using Oracle.ManagedDataAccess.Client; // nueva Instalado paquete odp.net.managed.121.1.2 con nuget 
    -->
    
    <add name="GLBDIS"
      connectionString="DATA SOURCE=192.168.156.201:1521/HOTELES;PERSIST SECURITY INFO=True;USER ID=GLBDIS; Password=glbdes"         />

    <add name="GAG"
       connectionString="Data Source=192.168.156.175\SERVERSQL;Initial Catalog=GAG;Persist Security Info=True;User ID=usuario_iis;Password=globalia"
         providerName="System.Data.SqlClient"/>

    
    
    <add name="GAG_PROD"
    connectionString="Data Source=192.168.156.175\SERVERSQL;Initial Catalog=GAG;Persist Security Info=True;User ID=usuario_iis;Password=globalia"
       providerName="System.Data.SqlClient"/>
    <add name="GAG_DES"
       connectionString="Data Source=192.168.153.237\PINTRAHALCON;Initial Catalog=GAG;Persist Security Info=True;User ID=backhalconuser;Password=backhalconuser"
          providerName="System.Data.SqlClient"/>


    <add name="artes_graficas"
         connectionString="Data Source=192.168.153.237\PINTRAHALCON; Initial Catalog=artes_graficas;Persist Security Info=True;User ID=backhalconuser;Password=backhalconuser" 
         providerName="System.Data.SqlClient"/>       
    <add name="artes_graficas_PROD"
         connectionString="Data Source=192.168.156.136; Initial Catalog=artes_graficas;Persist Security Info=True;User ID=backhalconuser;Password=imprenta" 
         providerName="System.Data.SqlClient"/>
    <add name="artes_graficas_DES"
         connectionString="Data Source=192.168.153.237\PINTRAHALCON; Initial Catalog=artes_graficas;Persist Security Info=True;User ID=backhalconuser;Password=backhalconuser"
         providerName="System.Data.SqlClient"/>

    <add name="INST_CNS"
          connectionString="DATA SOURCE=192.168.156.35:1530/GSIS;PERSIST SECURITY INFO=True;USER ID=INST_CNS; Password=INSTCNS4"         />
    

    
  
  </connectionStrings>
  

  <!--<system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>-->

</configuration>
