<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
   
    <!--   Conexion INST_CNS a Oracle (acceso a active directory)  
      Usa using Oracle.ManagedDataAccess.Client; // nueva Instalado paquete odp.net.managed.121.1.2 con nuget 
    -->
    <add name="INST_CNS" connectionString="DATA SOURCE=192.168.156.35:1530/GSIS;PERSIST SECURITY INFO=True;USER ID=INST_CNS; Password=INSTCNS4" />
    <add name="GLBDIS" connectionString="DATA SOURCE=192.168.156.201:1521/HOTELES;PERSIST SECURITY INFO=True;USER ID=GLBDIS; Password=glbdes" />
    

    <!--    Otro formato  de conexion a oracle (ok)-->
    <add name="INST_CNS_" connectionString="Data Source=(DESCRIPTION= (ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.156.35)(PORT=1530)))                  (CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=GSIS))); User Id=INST_CNS;Password=INSTCNS4" />

    <!--    Desarrollo  Servidor Palma -->
   

  </connectionStrings>

  <system.web>
	 <customErrors mode="Off" />
   </system.web>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <staticContent>
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="4096" />
            </requestFiltering>
        </security>
        <defaultDocument>
            <files>
                <add value="Login_BE_LIVE.asp" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="PHP_Via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP_8_1_22\php-cgi.exe" resourceType="Either" />
        </handlers>
    </system.webServer>



</configuration>
