<?xml version="1.0"?>

<configuration>

  <system.web>
	<customErrors mode="Off"/>


  </system.web>

  
  <connectionStrings>
  <!--    Actual -->
  <add name="GAG"
     connectionString="Data Source=192.168.156.175\SERVERSQL;Initial Catalog=GAG;Persist Security Info=True;User ID=usuario_iis;Password=globalia"
     providerName="System.Data.SqlClient"/>

  <!--    Producción -->
  <add name="GAG_PROD"
       connectionString="Data Source=192.168.156.175\SERVERSQL;Initial Catalog=GAG;Persist Security Info=True;User ID=usuario_iis;Password=globalia"
       providerName="System.Data.SqlClient"/>

  <!--    Desarrollo, OJO NO hay Visibilidad de Pedidos (192.168.156.136) desde servidor de desarrollo -->
  <add name="GAG_DES"
       connectionString="Data Source=192.168.153.237\PINTRAHALCON;Initial Catalog=GAG;Persist Security Info=True;User ID=backhalconuser;Password=backhalconuser"
       providerName="System.Data.SqlClient"/>

   
  
  <!--  *********        BD ORACLE  Validacíon LDAP -->
  
    <!--    Validacíon LDAP OK -->
    <add name="GLBDIS"
       connectionString="DATA SOURCE=192.168.156.201:1521/HOTELES;PERSIST SECURITY INFO=True;USER ID=GLBDIS; Password=glbdes"         />

    <!--  Autocares NUEVA Ok -->
      <add name="GLBUS_N"
         connectionString="DATA SOURCE=192.168.153.194:1781/DHLCMIN;PERSIST SECURITY INFO=True;USER ID=GAUTOCAR; Password=buscar"         />
   
    
    <!--  *********        BDS ORACLE  GLBUS Nueva -->
      <add name="GLBUS_N_PROD"
         connectionString="DATA SOURCE=192.168.156.219:1581/HLCMIN;PERSIST SECURITY INFO=True;USER ID=GAUTOCAR; Password=buscar"         />
  
      <add name="GLBUS_N_DES"
         connectionString="DATA SOURCE=192.168.153.194:1781/DHLCMIN;PERSIST SECURITY INFO=True;USER ID=GAUTOCAR; Password=buscar"         />


    <!--    Autocares Desarrollo DNWTHAL (NO FUNCIONA) Error: ORA-03111: Ruptura en el canal de comunicacion. en v. 10 y anteriores   -->
      <add name="GLBUS_DES"
         connectionString="DATA SOURCE=192.168.153.171:1708/DNWTHAL;PERSIST SECURITY INFO=True;USER ID=GAUTOCAR; Password=buscar"         />

</connectionStrings>


  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000"/>

      </webServices>
    </scripting>
  </system.web.extensions>

	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>




</configuration>
